<h1>Politique de cookies</h1>
<h2>Qu'est-ce qu'un cookie?</h2>
<p>Nous utilisons des cookies pour faciliter l'utilisation de notre site Web. Les cookies sont de petits fichiers d'informations qui nous permettent de comparer et de comprendre comment nos utilisateurs naviguent sur notre site Web, et de cette manière d'améliorer en conséquence le processus de navigation. Si vous ne souhaitez pas recevoir de cookies, veuillez configurer votre navigateur Internet pour les supprimer du disque dur de votre ordinateur, les bloquer ou vous avertir s'ils sont installés. Pour continuer sans modifier les paramètres des cookies, fermez simplement la fenêtre et continuez sur la page Web.</p>

<h2>Types de cookies</h2>
<p>Ce site Internet n'utilise que des cookies techniques, de personnalisation et d'analyse, les siens et ceux de tiers (Google Analytics), qui ne traitent en aucun cas des données personnelles ou capturent les habitudes de navigation à des fins publicitaires.
<br/>
Vous pouvez obtenir plus d'informations sur les cookies et leur utilisation sur www.aboutcookies.org.</p>

<h2>Comment désactiver les cookies dans les navigateurs les plus utilisés?</h2>
<p>
    <strong>Chrome:</strong> Paramètres → Afficher les options avancées → Confidentialité → Paramètres de contenu.<br/>
    Pour plus d'informations, vous pouvez consulter l'assistance Google ou l'aide du navigateur.<br/>
    <br/>
    <strong>Internet Explorer:</strong> Outils → Options Internet → Confidentialité → Paramètres.<br/>
    Pour plus d'informations, vous pouvez consulter le support Microsoft ou l'aide du navigateur.<br/>
    <br/>
    <strong>Firefox:</strong> Outils → Options → Confidentialité → Historique → Paramètres personnalisés.<br/>
    Pour plus d'informations, vous pouvez consulter l'assistance de Mozilla ou l'aide du navigateur.<br/>
    <br/>
    <strong>Safari:</strong> Préférences → Sécurité.<br/>
    Pour plus d'informations, vous pouvez consulter l'assistance Apple ou l'aide du navigateur.
</p>