<!-- <img [src]="(logo$ | async)" alt="logo" class="logo"/>
<div *ngFor="let photo of (banner$ | async), let i = index">
    <img [src]="photo" [alt]="'photo_'+i" class="photo" [id]="'photo_'+i"/>
</div> -->
<ngb-carousel *ngIf="images">
    <ng-container *ngFor="let photo of (banner$ | async), let i = index">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="photo" [alt]="'photo_'+i" class="photo-banner">
            </div>
        </ng-template>
    </ng-container>
  </ngb-carousel>