<h1 class="title">Politique de confidentialité</h1>
<p class="text">www.amaelleleroy.com n'effectue pas d'actions publicitaires avec les données qu'il recueille, ni ne transfère ces données à des tiers. Nous collectons uniquement les données de base (nom et e-mail) pour répondre aux demandes, doutes ou requêtes référencés via les formulaires de contact.</p>

<h2 class="title">Finalités, légitimation et préservation du traitement des données transmises via le formulaire de contact</h2>

<ul>
    <li>Objectif: vous fournir un moyen de nous contacter et de répondre à vos demandes d'informations, si vous cochez la case d'acceptation.</li>
    <li>Légitimation: Le consentement de l'utilisateur lors de la demande d'informations auprès de nous via notre formulaire de contact et lors de la vérification de la case d'acceptation pour l'envoi d'informations.</li>
    <li>Conservation: Une fois votre demande obtenue via notre formulaire ou une réponse par e-mail, jusqu'à ce que vous demandiez l'annulation de la même.</li>
</ul>

<h2 class="title">Destinataires de vos données</h2>

<p class="text">Vos données sont confidentielles et ne seront pas transférées à des tiers, sauf si cela est nécessaire pour gérer les services contractés ou s'il existe une obligation légale.</p>

<h2 class="title">Sécurité de vos données personnelles</h2>

<p class="text">Afin de sauvegarder la sécurité de vos données personnelles, nous vous informons que nous avons adopté toutes les mesures techniques et organisationnelles nécessaires pour garantir la sécurité des données personnelles fournies dès leur altération, perte, et traitement ou accès non autorisé.</p>