<div class="head">
    <h1 class="title">Mon travail</h1>
</div>

<div class="categories">
    <ng-container *ngIf="(categories$ | async) as categories; else loadingBlock">
        <a *ngFor="let category of categories" [routerLink]="['/galerie/'+category.name]" routerLinkActive="router-link-active" class="link">
            <div class="category" [defaultImage]="category.photo.pixelized" [lazyLoad]="category.photo.full">
                <h3 class="title">{{category.name}}</h3>
            </div>
        </a>
    </ng-container>
    <ng-template #loadingBlock>
        <app-loading-element element="rectangle" height="50vh" width="100%"></app-loading-element>
        <app-loading-element element="rectangle" height="50vh" width="100%"></app-loading-element>
        <app-loading-element element="rectangle" height="50vh" width="100%"></app-loading-element>
        <app-loading-element element="rectangle" height="50vh" width="100%"></app-loading-element>
        <app-loading-element element="rectangle" height="50vh" width="100%"></app-loading-element>
    </ng-template>
</div>
