@import '../../../../assets/css/global';

.head {
    display: none;
}

.about {
    .photo {
        margin-bottom: 20px;
        img {
            width: 50%;
            margin-left: 25%;
        }
    }
}

@media (max-width: 768px) {
    .head {
        display: block;
    }
    .about {
        .text {
            text-align: center;
        }
    }
}