@import '../../../../assets/css/global';

.select-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    z-index: -3;
    opacity: 0;
    &.show {
        opacity: 1;
        z-index: 2;
    }
    .select-image__container {
        position: fixed;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        background-color: $background;
        .head {
            padding: 10px;
            position: relative;
            display: flex;
            .title {
                margin: 0 20px 0 0;
                font-family: "Montserra", sans-serif;
                font-size: 2em;
            }
            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
        .select-image__body {
            width: 100%;
            height: calc(100% - 104px);
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            .background {
              width: 8vw;
              height: 8vw;
              margin: 0.5vw;
              background-color: #eee;
              position: relative;
              cursor: pointer;
              transition: .2s;
              &:hover {
                box-shadow: 0 0 5px 5px $primary;
              }
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 3px solid var(--green);
                .index {
                    font-size: 30px;
                    text-align: center;
                    margin-top: 50%;
                    margin-left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    color: white;
                    background-color: var(--green);
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    padding-top: 7.5px;
                }
              }
            }
            .image {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: #eee;
                &.ng-lazyloaded {
                    animation: fadein 0.5s;
                }
                &.loading {
                  mat-spinner {
                    margin: calc(4vw - 50px) auto;
                  }
                }
            }
        }
        .foot {
            height: 52px;
            padding-right: 10px;
            position: relative;
            .paginator {
              display: flex;
              position: absolute;
              margin-left: 50%;
              transform: translateX(-50%);
              .btn {
                font-size: 25px;
                color: $primary;
                margin-top: 26px;
                transform: translateY(-50%);
                &:hover {
                  color: $primary-dark;
                }
              }
              .page-numbers {
                .btn {
                  font-size: 15px;
                  color: #222;
                  margin-top: 26px;
                  transform: translateY(-50%);
                  &:hover {
                    color: $primary-dark;
                  }
                  &.selected {
                    color: $primary;
                  }
                }
              }
            }
            .validate {
                height: 40px;
                width: 100px;
                margin-top: 6px;
                float: right;
                color: var(--green);
                border: 2px solid var(--green);
                transition: .2s;
                &:hover {
                    background-color: var(--green);
                    color: white;
                }
            }
        }
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}