@import '../../../../assets/css/global';

section {
    padding: 2em 0 2em;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.pricing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
    &-table {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: stretch;
        align-items: stretch;
        text-align: center;
        -webkit-flex: 0 1 330px;
        flex: 0 1 330px;
    }
    &-divider {
        font-family: "Fontfabric Doodles";
        font-size: 5em;
        margin-top: 12px;
    }
    &-head {
        height: 70px;
        .pricing-title {
            font-size: 1.5em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 35px;
            transform: translateY(-50%);
        }
    }
    &-feature {
        padding: 0;
        list-style: none;
        text-align: center;
        height: -webkit-fill-available;
        &-item {
            padding: 1em 0;
        }
    }
    &-price {
        font-size: 3em;
        font-weight: bold;
        padding: 0;
        margin: 0 0 0.25em 0;
        line-height: 0.75;
        &-currency {
            font-size: 0.3em;
            vertical-align: top;
        }
    }
    &-footer {
        font-family: "Fontfabric Doodles";
        font-size: 5em;
        line-height: .7em;
    }
}